@{
    ViewData["Title"] = "Contato - ";
      <link rel="stylesheet" href="~/css/contato.css"!important>
    <link rel="stylesheet" href="~/css/reset.css" !important>
}
   <section>
            <h1>Contato</h1>
            <div class="contatos">

                <div class="contato">
                    <nav>
                            <ul>
                                <li><a asp-area="" asp-controller="Contato" asp-action="FaleConosco">fale Conosco</a></li>
                                <li><a asp-area="" asp-controller="Contato" asp-action="Carreira">Carreira</a></li>
                                <li><a asp-area="" asp-controller="Contato" asp-action="Localizacao">Localização</a></li>
                                <li><a asp-area="" asp-controller="Contato" asp-action="Ouvidoria">Ouvidoria</a></li>
                            </ul>
                        </nav>
                </div>
                <div class="contato">
                    <article class="texto">
                        <h2>Ouvidoria</h2>
                        </br>
                        <h1>Ouvidoria - SMS Resistência Elétricas</h1>
                        </br>

                        <h2>A SMS disponibiliza um canal imparcial, apto a receber os relatos, esclarecimentos de dúvidas ou elogios sobre temas relacionados á nossa conduta, o que assegura a confidencialidade do relato e mantém o sigilo da identidade.</h2>
                        </br>

                        <h2>Nossa Ouvidoria, juntamente com nosso Comitê de Ética são os responsáveis por receber e analisar as informações. Todos os relatos são avaliados com a maior brevidade possível.</h2>
                        </br>

                        <h1>OUVIDORIA - SMS RESISTÊNCIAS</h1>
                        </br>
                        <h2>Tel.:(11)2211-1088 / E-mail:ouvidoria@smsresistencias.com.br</h2>
                        </br>
                        <h2>Para baixar nosso Código de Ética e Conduta, nosso Programa de Integridade e nossa Política de Saúde, Segurança e Meio Ambiente, clique nos links abaixo: </h2>
                        </br>
                        <h1>SMS - Código de Ética e Conduta</h1>
                        </br>
                        <h1>SMS - Política de Saúde, Segurança e Meio Ambiente - Assinado</h1>
                        </br>
                        <h1>SMS - Programa de Integridade</h1>
                        </br>
                    </article>
                </div>
                <div class="contato">
                    <figure><img src="~/image/contato_01.jpg" alt=""></figure>
                    <figure><img src="~/image/empresa_02.jpg" alt=""></figure>
                    <figure><img src="~/image/empresa_03.jpg" alt=""></figure>
                    </article>
                </div>
            </div>
        </section>