@{
    ViewData["Title"] = "Clientes - ";
    
    <link rel="stylesheet" href="~/css/reset.css" !important>
    <link rel="stylesheet" href="~/css/clientes.css" !important>

}
<section>
            <h1>Clientes</h1>
            <article class="texto">
                <h1>A SMS está preparada para atender clientes de diversos portes e segmentos:</h1>
                <div class="clientes">

                    <div class="cliente"><img src="~/image/clientes/logo_abb.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_ambev.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_eaton.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_ford.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_mercedes.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_nestle.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_siemens.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_singer.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_unilever.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_vale.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_volks.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_weg.jpg" alt=""></div>
                    <div class="cliente"><img src="~/image/clientes/logo_white_martins.jpg" alt=""></div>

                </div>
            </article>
        </section>
          