@{
    ViewData["Title"] = "Empresa - ";
    <link rel="stylesheet" href="~/css/empresa.css" !important>
    <link rel="stylesheet" href="~/css/reset.css" !important>
}
        <section>
            <h1>Quem Somos</h1>
            <div class="empresas">
                <div class="empresa">
                    <article class="texto">
                        <h1>Empresa</h1>
                        <h2>
                            <p> A SMS Resistências Elétricas possui mais de 26 anos de experiência desenvolvendo e fabricando resistências elétricas, sistemas de aquecimento e periféricos para o segmento industrial. Estamos instalados em um complexo industrial
                                de 5.000 m², sendo 3.000 m² de área construída, localizado na cidade de Itaquaquecetuba (35 km da capital), no estado de São Paulo. Em nosso parque fabril altamente equipado, é produzida uma ampla gama de resistências elétricas
                                para diversas aplicações. Todos os produtos respeitam as normas internacionais de fabricação (DIN 44874), sendo 100% testados. Nosso departamento técnico desenvolve soluções customizadas para os mais diversos mercados,
                                sempre buscando entregar aos clientes produtos competitivos e com a melhor tecnologia aplicada. Nós da SMS entendemos que, como fabricantes de resistências elétricas, fazemos parte de uma cadeia, onde nosso papel é fornecer
                                as melhores soluções em aquecimento, ajudando os nossos clientes a gerar valor em suas atividades.</p>
                        </h2>
                    </article>

                </div>
            </div>
            <div class="empresas">
                <div class="empresa"><img src="~/image/empresapg2.jpeg" alt=""></div>
                <div class="empresa"><img src="~/image/empresa01.jpeg" alt=""></div>
                <div class="empresa"><img src="~/image/empresapg1.jpeg" alt=""></div>
                <div class="empresa"><img src="~/image/logo_abrinq.jpg" alt=""></div>
                <div class="empresa"> <img src="~/image/empresa_graacc.png" alt=""></div>
            </div>
            <div class="empresas">
                <div class="empresa">&nbsp;
                    <article class="texto">
                        <h1>História</h1>
                        <h2>
                            <p>
                                Fundada em 1986, a SMS Resistências Elétricas iniciou suas atividades em um pequeno galpão localizado no bairro da Mooca, em São Paulo. Sustentada pela longa experiência de seus fundadores no ramo, a SMS apresentou um crescimento acelerado desde seu início.
                                Em 1988, a SMS mudou-se para um novo prédio e, sempre com o foco em desenvolver produtos de alta confiabilidade, investiu de forma consistente em soluções tecnológicas para tornar mais ágil o atendimento aos seus clientes.
                                Em 1994, iniciou a fabricação de resistências elétricas revestidas em PTFE, tornando-se assim a empresa pioneira a oferecer essa tecnologia para o segmento de tratamento de superfícies. Em 1997, a SMS foi homologada como
                                fornecedor mundial de desumidificadores para usinas hidrelétricas por um consórcio de multinacionais. Um ano depois, começou a exportar para o Mercosul, focando na área de food service, processos industriais e biomédicos.
                                No ano de 2006, iniciou uma nova linha de sistemas de aquecimento voltados para o mercado de óleo e gás e mineração. No ano de 2009, com intuito de atender de forma mais eficaz sua demanda crescente, a SMS iniciou o processo
                                de mudança para uma nova sede, localizada em Itaquaquecetuba.</p>
                        </h2>
                    </article>
                </div>
            </div>

        </section>
             