@{
    ViewData["Title"] = "Qualidade - ";
      <link rel="stylesheet" href="~/css/qualidade.css"!important>
    <link rel="stylesheet" href="~/css/reset.css" !important>
}
        <section>
            <h1>
                Tecnologia de ponta e matéria-prima importada
            </h1>
            <div class="qualidades">
                <div class="qualidade"><img src="~/image/qualidade01.jpeg" alt=""></div>
                <div class="qualidade">
                    <article class="texto">
                        <h1>Nossa Qualidade</h1>
                        <h2>
                            <p>Ao longo de 26 anos, nossa política de oferecer os melhores produtos e serviços tornou a SMS a empresa mais confiável do segmento. Nosso sistema de gestão da qualidade visa desenvolver processos confiáveis, com o objetivo de
                                obter produtos com pontualidade e custos competitivos, por meio do envolvimento de toda a organização em uma busca constante da melhoria. Para assegurar a qualidade, todos nossos produtos: • Respeitam normas nacionais e
                                internacionais de fabricação: NBR NM 60335, DIN 4487, ensaios conforme VDE 0740 § 16;</br>
                                </br>

                                • São 100% testados;</br>
                                • Possuem rastreabilidade das matérias-primas utilizadas;</br>
                                • Passam por estudos de viabilidade de fabricação e aplicação;</br>
                                • Podem ser fornecidos com um certificado de qualidade e conformidade;</br>
                                • Respeitam o meio ambiente.</p>
                            </br>
                        </h2>
                    </article>
                </div>

                <div class="qualidade">
                    <article class="texto">
                        <h1>Política de Qualidade</h1>
                        <h2>
                            <p>A Alta Direção da Organização define e assegura como Política da Qualidade: Desenvolver processos confiáveis, com o objetivo de obter produtos com qualidade e pontualidade, a custos competitivos, dentro dos requisitos regulamentares
                                e estatutários aplicáveis, através do envolvimento de toda a Organização no Sistema de Gestão da Qualidade, em busca do melhoramento contínuo.</br>
                                </br>
                                </br>

                                • Desdobramento da Política da Qualidade</br>
                                • Desdobramento da Política da Qualidade</br>
                                • Desenvolver Processos Confiáveis</br>
                                • Produtos com qualidade</br>
                                • Produtos com pontualidade</br>
                                • Produtos com custos competitivos</br>
                                • Requisitos Regulamentares e Estatutários</br>
                                • Envolvimento da Organização no SGQ</br>
                                • Melhoramento Contínuo</p>
                            </br>
                        </h2>
                    </article>
                </div>
            </div>
        </section>
            