@{
    ViewData["Title"] = "Indústrias - ";
      <link rel="stylesheet" href="~/css/industrias.css"!important>
    <link rel="stylesheet" href="~/css/reset.css" !important>
}
  <section>
            <h1>Indústrias</h1>
            <div class="industrias">
                <div class="industria">
                       <nav>
                        <ul>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Tratamento">Tratamento de superfícies</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Cozinha">Cozinha industrial</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Biomedico">Biomédico</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Refrigeracao">Refrigeração</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Panificacao">Panificação</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Embalagem">Embalagem</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Plastico">Plástico</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Lavanderia">Lavanderia</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="OleoGas">Óleo e gás</a></li>
                            <li><a asp-area="" asp-controller="Industrias" asp-action="Processos">Processos industriais</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="industria">
                    <article class="texto">
                        <h1>Processos Industriais</h1>
                        <h2>
                            <p>Desde o início de nossas operações, nos posicionamos no mercado como um parceiro de nossos clientes e sempre tivemos como diferencial fornecer soluções confiáveis e de alto desempenho para os processos com aquecimento elétrico.</p>

                            <p>Nossa ampla linha de produtos nos permite ofertar o melhor produto para cada aplicação, garantindo alta precisão no aquecimento e no controle do processo. </p>

                            <p>Nossos clientes podem contar com:</p>
                        </h2>
                    </article>
                </div>
                <div class="industria">
                    <figure>
                        <img class="primeira" src="~/IMAGE/section/processos.jpg" alt="">
                    </figure>
                </div>

                <div class="industria">
                    <article class="texto">
                        <h2>
                            • Nossos 25 anos de experiência em desenvolver soluções completas para processos industriais; <br> • Expertise no desenvolvimento de projetos customizados;<br> • Departamento técnico à disposição para auxiliar o cliente em
                            suas demandas;<br> • Equipamentos para as diversas situações, incluindo nossa linha de aquecimento<br> para áreas classificadas à prova de explosão.<br> Atuamos nos mais diversos segmentos e processos que necessitem de aquecimento
                            elétrico, como:<br> • Automobilístico;<br> • Químico;<br> • Alimentício;<br> • Metalúrgico;<br> • Biocombustível;<br> • Aeroespacial;<br> • Naval;<br> • Petrolífero.<br>
                        </h2>
                    </article>
                </div>
            </div>
            <div class="industrias">

                <figure>
                    <img class="segunda" src="~/IMAGE/section/industriais_01_peq.jpg" alt="">
                    <figcaption>Imersão</figcaption>
                </figure>
                <figure>
                    <img class="segunda" src="~/IMAGE/section/industriais_02_peq.jpg" alt="">
                    <figcaption>Desumidificador</figcaption>
                </figure>
                <figure>
                    <img class="segunda" src="~/IMAGE/section/industriais_03_peq.jpg" alt="">
                    <figcaption>Imersão com flange</figcaption>
                </figure>
                <figure>
                    <img class="segunda" src="~/IMAGE/section/industriais_04_peq.jpg" alt="">
                    <figcaption>Tubular
                    </figcaption>
                </figure>

            </div>
            <div class="industrias">
                <article class="texto">
                     <a asp-area="" asp-controller="Contato" asp-action="FaleConosco">
                    <h2>Contate-nos para mais informações sobre nossos produtos.</h2></a>
                </article>
            </div>

        </section>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/image/banner/home.jpg" class="d-block w-100" alt="HOME">
                    </div>
                    <div class="carousel-item">
                        <img src="~/image/banner/home2.jpg" class="d-block w-100" alt="HOME">
                    </div>
                    <div class="carousel-item">
                        <img src="~/image/banner/home3.jpg" class="d-block w-100" alt="HOME">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>