@{
    ViewData["Title"] = "Produtos - ";
    
    <link rel="stylesheet" href="~/css/reset.css" !important>
    <link rel="stylesheet" href="/css/produtos.css" !important>
}
       <section>
            <h1>Produtos</h1>
            <div class="produtos">
                <div class="produto">
                     <nav>
                        <ul>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Sobreborda">Resistências Tubulares</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Sobreborda">Sobreborda</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Imersao">Imersão</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Aletadas">Aletadas</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Degelo">Degelo</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Tubulares">Tubulares</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="AltaCarga">Resistências de cartucho</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="AltaCarga">Alta carga</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="BaixaCarga">Baixa carga</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Coleira">Resistências de coleira</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Infravermelho">Resistências infravermelho</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Circulacao">Aquecedores</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Circulacao">Circulação</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="ImersaoFlangeada">Imersão Flangeada</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Succao">Sucção</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Classificadas">Eq.áreas classificadas (Ex)</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Passagem">Passagem de ar</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Sensores">Sensores de temperatura</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="TracoEletrico">Traço elétrico</a></li>
                            <li><a asp-area="" asp-controller="Produtos" asp-action="Paineis">Painéis</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="produto">
                    <article class="texto">
                        <h1>Resistências de coleira</h1>
                        <h2>São utilizadas em tambores, máquinas transformadoras de plásticos (injetoras e extrusoras).
                        </h2>
                        <h1>Características técnicas:</h1>
                        <h2>
                            <p>
                                • Blindagem: aço inox;<br /> • Isolação: mica ou cerâmica esteatita; <br /> • Diâmetro: 20mm a 1200mm;<br /> • Tensão de alimentação: 110V, 220V, 380V, 440V;<br /> • Densidade superficial: até 8w/cm²;<br /> • Controle de
                                temperatura opcional;<br /> • Formatos e acessórios customizados conforme a necessidade do cliente.<br />
                            </p>
                        </h2>
                    </article>
                </div>
                <div class="produto">
                    <figure>
                        <img src="~/IMAGE/produtos/coleiras.jpg" alt="">
                        <figcaption>Coleira de Cerâmica</figcaption>
                    </figure>
                    <figure>
                        <img src="~/image/produtos/coleiras_01_peq.jpg" alt="">
                        <figcaption>Coleira de Cerâmica</figcaption>
                    </figure>
                    <figure>
                        <img src="~/image/produtos/coleiras_02_peq.jpg" alt="">
                        <figcaption>Coleira de Mica</figcaption>
                    </figure>
                </div>
                <div class="produto">

                    <figure>
                        <img src="~/image/produtos/coleiras_03_peq.jpg" alt="">
                        <figcaption>Coleira de Mica</figcaption>
                    </figure>

                </div>
            </div>

        </section>
 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/image/banner/home.jpg" class="d-block w-100" alt="HOME">
                    </div>
                    <div class="carousel-item">
                        <img src="~/image/banner/home2.jpg" class="d-block w-100" alt="HOME">
                    </div>
                    <div class="carousel-item">
                        <img src="~/image/banner/home3.jpg" class="d-block w-100" alt="HOME">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>